@import "_variables.scss";

@media screen and (max-width: 1199px) {
  p {
    padding-left: 10%;
    padding-right: 10%;
  }
  .header__nav {
    font-size: 14px;
    height: 60px;
  }
  .social__content__social {
    #facebook {
      padding-right: 40px;
    }
    #spotify {
      padding-right: 25px;
    }
    #instagram {
      padding-right: 40px;
    }
  }
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 640px) minmax(180px, 640px) minmax(180px, 640px);
    grid-template-rows:
            /* HEADER */
            60px

              /* SOCIAL */
            60px

              /* ABOUT */
            minmax(auto, auto)
            minmax(auto, auto)
            143px
            143px
            221px
            650px

              /*** RESIDENT ROASTER ***/
            200px
            minmax(auto, auto)
            311px
            221px

              /*** CURRENT ROASTER ***/
            minmax(auto, auto)
            minmax(auto, auto)

              /*** PAST ROASTERS ***/
            minmax(auto, auto)
            minmax(auto, auto)
            143px

              /*** PURVEYORS ***/
            143px
            minmax(auto, auto)

              /*** CONTACT ***/
            minmax(auto, auto)
            minmax(auto, auto)

              /*** INSTAGRAM ***/
            minmax(180px, auto)

              /*** FOOTER ***/
            minmax(260px, auto);

    grid-template-areas:
            /*** HEADER ***/
            "header header header"

              /*** SOCIAL ***/
            "social social social"
            "video  video  video "
            "photo1 photo2 photo3"

              /*** ABOUT ***/
            "abt_hd abt_hd abt_hd"
            "abt_sh abt_sh abt_sh"
            "abt_bd abt_bd abt_bd"
            "abt_vd abt_vd abt_vd"

              /*** RESIDENT ROASTER ***/
            "res_hd res_hd res_hd"
            "res_p1 res_p2 res_p3"
            "resbd1 resbd1 resbd1"
            "resbd2 resbd2 resbd2"

              /*** CURRENT ROASTER ***/
            "cntrst cntrst cntrst"
            "cr_bdy cr_bdy cr_bdy"

              /*** PAST ROASTERS ***/
            "pstrst pstrst pstrst"
            "pr_bdy pr_bdy pr_bdy"
            "pr_frm pr_frm pr_frm"

              /*** PURVEYORS ***/
            "prvyrs prvyrs prvyrs"
            "prv_bd prv_bd prv_bd"

              /*** CONTACT ***/
            "contct contct contct"
            "ctctbd ctctbd ctctbd"

              /*** INSTAGRAM ***/
            "instag instag instag"

              /*** FOOTER ***/
            "footer footer footer";
  }
  .about__video {
    width: 70vw;
    height: 500px;
    margin: 2% auto;
  }
  .contact__body {
    grid-template-areas:
    "gift gift"
    "form form";
  }
  form {
    width: 540px;
  }
  .form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #fname {
    width: 98%;
  }
  #lname {
    width: 98%;
  }
  .gift {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #teaser {
    font-size: 40pt;
    margin: 60px 0 0 60px;
  }
  .cafe > p, .follow > p, .copr > p, .dsign > p, .dev > p {
    color: #FFF;
    font-size: 10pt;
    text-align: left;
    padding: 0 !important;
    justify-content: left;
    -moz-text-align-last: left;
    text-align-last: left;
    line-height: 1.6em;
  }
  .cafe > h2, .follow > h2, .copr > h2, .mailing-list > h2 {
    color: #E8E8E8;
    font-size: 12pt;
    text-align: left;
    padding: 20px 0 15px 0 !important;
    justify-content: left;
    -moz-text-align-last: left;
    text-align-last: left;
  }
  .foot1 {
    grid-area: foot1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(auto, auto) minmax(auto, auto);
    grid-template-areas:
            "cafe follow"
            "copr dsign";
  }
  .foot2 {
    grid-area: foot2;
    display: grid;
    justify-self: start;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, auto) minmax(auto, auto);
    grid-template-areas:
            "mailing-list"
            "dev";
  }
  .cafe {
    grid-area: cafe;
    padding: 20px 0 20px 20px;
    width: 200px;
  }
  .follow {
    grid-area: follow;
    padding: 20px 0 20px 20px;
    width: 200px;
  }
  .copr {
    grid-area: copr;
    padding: 20px 0 20px 20px;
    width: 200px;
  }
  .dsign {
    grid-area: dsign;
    padding: 20px 0 20px 20px;
    width: 200px;
  }
  .mailing-list {
    grid-area: mailing-list;
    height: 162px;
  }
  .dev {
    grid-area: dev;
    padding-top: 20px;
    align-self: baseline;
  }
  .footer {
    grid-template-areas:
            "foot1 foot2";
  }
}