@import "_variables.scss";

@media screen and (max-width: 1199px) {
  p {
    padding-left: 10%;
    padding-right: 10%;
  }
  .header__nav {
    font-size: 14px;
  }
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 640px) minmax(180px, 640px) minmax(180px, 640px);
    grid-template-rows:
            /* HEADER */
            60px

              /* SOCIAL */
            60px

              /* ABOUT */
            minmax(auto, auto)
            minmax(auto, auto)
            143px
            143px
            221px
            650px

              /*** RESIDENT ROASTER ***/
            200px
            minmax(auto, auto)
            311px
            221px

              /*** CURRENT ROASTER ***/
            minmax(auto, auto)
            minmax(auto, auto)

              /*** PAST ROASTERS ***/
            minmax(auto, auto)
            minmax(auto, auto)
            143px

              /*** PURVEYORS ***/
            143px
            minmax(auto, auto)

              /*** CONTACT ***/
            minmax(auto, auto)
            minmax(auto, auto)

              /*** FOOTER ***/
            260px;

    grid-template-areas:
            /*** HEADER ***/
            "header header header"

              /*** SOCIAL ***/
            "social social social"
            "video  video  video "
            "photo1 photo2 photo3"

              /*** ABOUT ***/
            "abt_hd abt_hd abt_hd"
            "abt_sh abt_sh abt_sh"
            "abt_bd abt_bd abt_bd"
            "abt_vd abt_vd abt_vd"

              /*** RESIDENT ROASTER ***/
            "res_hd res_hd res_hd"
            "res_p1 res_p2 res_p3"
            "resbd1 resbd1 resbd1"
            "resbd2 resbd2 resbd2"

              /*** CURRENT ROASTER ***/
            "cntrst cntrst cntrst"
            "cr_bdy cr_bdy cr_bdy"

              /*** PAST ROASTERS ***/
            "pstrst pstrst pstrst"
            "pr_bdy pr_bdy pr_bdy"
            "pr_frm pr_frm pr_frm"

              /*** PURVEYORS ***/
            "prvyrs prvyrs prvyrs"
            "prv_bd prv_bd prv_bd"

              /*** CONTACT ***/
            "contct contct contct"
            "ctctbd ctctbd ctctbd"

              /*** FOOTER ***/
            "footer1 footer2 footer2";
  }
  .about__video {
    width: 70vw;
    height: 500px;
    margin: 2% auto;
  }
  .contact__body {
    grid-template-areas:
    "gift gift"
    "form form";
  }
  .form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .gift {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #teaser {
    font-size: 40pt;
    margin: 60px 0 0 60px;
  }
}