@import "_variables.scss";

#address, #hours {
  padding-right: 3%;
  justify-content: flex-start;
}

#facebook {
  margin-left: auto;
  margin-top: 5px;
}

#instagram {
  margin-left: 5%;
  margin-top: 5px;
}

#spotify {
  margin-left: 5%;
  margin-right: 5.2%;
  margin-top: 5px;
}