@import "_selectors.scss";
@import "_header.scss";
@import "_social.scss";
@import "_min-width-1200.scss";
@import "_max-width-1199.scss";
@import "_max-width-640.scss";
@import "_slick-slider.scss";
@import "_variables.scss";
@import "_iphone.scss";
@import "_galaxy.scss";
@import "_pixel.scss";
@import "_htc.scss";
@import "_windows.scss";
@import "screen.scss";

.merchandise__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows:

                  /* HEADER */
                  60px

                  /* SOCIAL */
                  60px

                  /* LOGO */
                  82px

                  /* CONTENT GRID */
                  minmax(auto, auto)

                  /*** FOOTER ***/
                  minmax(260px, auto);
}