/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "_selectors.scss";
@import "_header.scss";
@import "_social.scss";
@import "_min-width-1200.scss";
@import "_max-width-1199.scss";
@import "_max-width-640.scss";
@import "_slick-slider.scss";
@import "_variables.scss";
@import "_iphone.scss";
@import "_galaxy.scss";
@import "_pixel.scss";
@import "_htc.scss";
@import "_windows.scss";

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-92.5px, 54px);
}

/******* Grid Areas *******/

.header {
  grid-area: header;
}

.social {
  grid-area: social;
  background: $subheader-background;
}

.social__content {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  white-space: nowrap;
  justify-content: space-between;
}
.social__content__address {
  display: flex;
  flex-wrap: nowrap;
  justify-items: start;
  justify-self: start;
  font-size: 11pt;
  color: #0A2845;
  font-weight: 200;
  line-height: 1.5em;
  padding-top: 8px;
  padding-left: 5%;
}
.social__content__social {
  display: flex;
  flex-wrap: nowrap;
  justify-items: end;
  justify-self: end;
  padding-right: 5%;
}

.header__video {
  grid-area: video;
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -100;
}

.photo1, .photo2, .photo3 {
  margin-top: -6px;
  min-height: 180px;
  img {
    object-fit: cover;
    width: 100%;
    max-height: 330px;
  }
}

.photo1 {
  grid-area: photo1;
}

.photo2 {
  grid-area: photo2;
}

.photo3 {
  grid-area: photo3;
}

.about__header {
  grid-area: abt_hd;
  align-self: center;
}

.about__subheader {
  grid-area: abt_sh;
  background: $subheader-background;
  padding-top: 62px;
  padding-bottom: 62px;
}

.about__body {
  grid-area: abt_bd;
  background-image: url("https://pleatherstarfish.github.io/seabird_coffee/assets/media/photos/stone.png");
}

.about__video {
  grid-area: abt_vd;
}


.resident__header {
  grid-area: res_hd;
  align-self: center;
  text-align: center;
}

.resident__photo1, .resident__photo2, .resident__photo3 {
  margin-top: -6px;
  min-height: 180px;
  img {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
  }
}

.resident__photo1 {
  grid-area: res_p1;
}

.resident__photo2 {
  grid-area: res_p2;
}

.resident__photo3 {
  grid-area: res_p3;
}

.resident__body1 {
  grid-area: resbd1;
  align-self: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.resident__body2 {
  grid-area: resbd2;
  background-image: url("https://pleatherstarfish.github.io/seabird_coffee/assets/media/photos/stone.png");
}

.current__header {
  grid-area: cntrst;
  margin-bottom: 99px;
}

.current__ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 160px;
  padding-left: 5%;
}

@media screen and (min-width: 1200px) {
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
    grid-template-areas:
    "left left top top top"
    "left left mid mid mid"
    "left left btm btm btm";
  }
}

@media screen and (max-width: 1199px) {
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
    grid-template-areas:
    "left left left left left"
    ".    top top top top"
    ".    mid mid mid mid"
    ".    btm btm btm btm";
  }
  #current__highlight {
    justify-self: center;
  }
}

@media screen and (max-width: 640px) {
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
    grid-template-areas:
            "left left left left left"
            "top top top top top"
            "mid mid mid mid mid"
            "btm btm btm btm btm";
  }
}

.nested_left {
  grid-area: left;
  align-self: center;
}

.nested_top {
  grid-area: top;
  display: inline-block;
}

.nested_mid {
  grid-area: mid;
  display: inline-block;
}

.nested_bottem {
  grid-area: btm;
  display: inline-block;
}

.past__header {
  grid-area: pstrst;
}

.past__body {
  grid-area: pr_bdy;
  font-size: 12pt;
  color: #000;
  line-height: 1.5em;
  border-color: #ccc;
  width: 75vw;
  margin: 0 auto;
}

.past__form {
  grid-area: pr_frm;
}

.purveyors__header {
  grid-area: prvyrs;
  margin-top: 2.5em;
}

.purveyors__body {
  grid-area: prv_bd;
  display: grid;
  grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
  grid-template-rows: 210px 210px 210px 210px;
  grid-gap: 2em;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  > div {
    box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

@media screen and (min-width: 1200px) {
  .purveyors__body {
    grid-template-areas:
    "one one three three"
    "two two three three"
    "four four five five"
    "four four six seven";
  }
}

@media screen and (max-width: 1199px) {
  .purveyors__body {
    grid-template-areas:
    ". one one     ."
    ". two two     ."
    ". three three ."
    ". three three ."
    ". four four   ."
    ". four four   ."
    ". five five   ."
    ". six seven   .";
  }
}

@media screen and (max-width: 640px) {
  .purveyors__body {
    grid-template-areas:
            ". one one     ."
            ". two two     ."
            ". three three ."
            ". three three ."
            ". four four   ."
            ". four four   ."
            ". five five   ."
            ". six seven   .";
  }
}

.contact__header {
  grid-area: contct;
}

.contact__body {
  grid-area: ctctbd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto, auto);
  padding-top: 3rem;
  padding-bottom: 3rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.form {
  grid-area: form;
}
.gift {
  grid-area: gift;
}
.instagram_feed {
  grid-area: instag;
  display: grid;
  width: 100vw;
  grid-template-columns: calc(100vw / 3) calc(100vw / 3) calc(100vw / 3);
  grid-auto-flow: dense;
  overflow: hidden;
}
.instagram_img {
  object-fit: cover;
  margin: -4px 0 -4px 0;
  height: calc(100vw / 4);
  width: calc(100vw / 3);
}
.footer {
  grid-area: footer;
  display: grid;
  grid-column-gap: 2rem;
  padding: 0 !important;
  background-color: $header-blue;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto, auto);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#email-list {

}
#mailing-list-form {
  display: flex;
  flex-wrap: nowrap;
}
#mailing-list-form-input {
  height: 54px;
  width: 20vw;
  border-width: 1px;
  border-color: black;
}
#mailing-list-form-submit {
  border-width: 2px;
  border-color: black;
  background-color: orange;
  color: white;
  text-align: center;
  font-size: 14pt;
  border-radius: 54px;
  height: 54px;
  width: 12vw;
  font-weight: 100;
  margin-top: -2px;
  margin-left: -30px;
}