* {
  margin: 0;
  padding: 0;
}

/******* Selectors *******/

h1 {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  size: 50pt;
  font-weight: 400;
  text-align: center;
  color: #2B4257;
  padding-left: 10%;
  padding-right: 10%;
}

h2 {
  font-family: Futura, 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  size: 20pt;
  color: #FFFFFF;
  padding-left: 10%;
  padding-right: 10%;
}

h3 {
  font-family: Baskerville, 'Libre Baskerville', Garamond, serif;
  size: 25pt;
  color: #0A2845;
  text-align: center;
  /* font-style: italic; */
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  color: #FFF;
  text-align: center;
  display: block;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 1.3em;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}
ul {
  list-style-type: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
}

.logo {
  position:absolute;
  left: 50%;
  transform: translate(-92.5px, 54px);
}

.header__button {
  background-color: #4A4A4A;
  border: solid;
  border-width: 2px;
  border-color: orange;
  color: white;
  text-align: center;
  font-size: 14pt;
  border-radius: 12pt;
  height: 40px;
  width: 129px;
  font-weight: 100;
  margin-top: 9px;
  margin-left: 5%;
  float: left;
  box-shadow: 4px 4px 4px rgba(255,195,160,0.5);
  transition-duration: 0.3s;
}

.header__button:hover {
  background-color: #313131;
  box-shadow: 4px 4px 6px rgba(255,195,160,0.9);
  transition-duration: 0.3s;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: Helvetica, sans-serif;
  font-style: bold;
  color: #4A4A4A;
  font-weight: 100;
  margin-right: 5%;
}

.header__nav > div {
  padding-top: 22px;
  margin-left: 5%;
  border-bottom: 2px rgba(30,144,255, 0);
}

.header__nav > div:hover {
  text-decoration: none;
  border-bottom: 2px solid rgba(30,144,255, 1);
  transition: 0.3s;
}

/******* Grid Areas *******/

.header {
  grid-area: header;
}
.social {
  grid-area: social;
  background: #F3F2F2;
}

.social__content {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 5%;
  position: relative;
  /* top: 50%;
  transform: perspective(1px) translateY(-50%); */
  line-height: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 11pt;
  color: #0A2845;
  white-space: nowrap;
  align-items: center;
  align-self: center;
}

#address, #hours {
  padding-right: 3%;
  justify-content: flex-start;
}
#facebook {
  margin-left: auto;
  margin-top: 5px;
}
#instagram {
  margin-left: 5%;
  margin-top: 5px;
}
#spotify {
  margin-left: 5%;
  margin-right: 5.2%;
  margin-top: 5px;
}

.header__video {
  grid-area: video;
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
.photo1 {
  grid-area: photo1;
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
.photo2 {
  grid-area: photo2;
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
.photo3 {
  grid-area: photo3;
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
.about__header {
  grid-area: abt_hd;
  align-self: center;
}
.about__subheader {
  grid-area: abt_sh;
  background: #F3F2F2;
  padding-top: 62px;
}
.about__body {
  grid-area: abt_bd;
  background-image: url("media/photos/stone.png");
}
.about__video {
  grid-area: abt_vd;
  width: 956px;
  height: auto;
  margin: 43px auto;
}
.resident__header {
  grid-area: res_hd;
  align-self: center;
  text-align: center;
}
.resident__photo1 {
  grid-area: res_p1;
}
.resident__photo2 {
  grid-area: res_p2;
}
.resident__photo3 {
  grid-area: res_p3;
}
.resident__body1 {
  grid-area: resbd1;
  align-self: center;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
.resident__body2 {
  grid-area: resbd2;
  background-image: url("media/photos/stone.png");
}

.current__header {
  grid-area: cntrst;
  margin-bottom: 99px;
}

.current__ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 160px;
  padding-left: 5%;
}

@media screen and (min-width: 1200px) {
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) 1fr 1fr 1fr;
    grid-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas:
    "left left top top top"
    "left left mid mid mid"
    "left left btm btm btm";
  }
}

@media screen and (max-width: 480px) {
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) 1fr 1fr 1fr;
    grid-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas:
    "left left left left left"
    "top top top top top"
    "mid mid mid mid mid"
    "btm btm btm btm btm";
  }
}

      .nested_left {
        grid-area: left;
        align-self: center;
      }
      .nested_top {
        grid-area: top;
        display: inline-block;
      }
      .nested_mid {
        grid-area: mid;
        display: inline-block;
      }
      .nested_bottem {
        grid-area: btm;
        display: inline-block;
      }
      /* .current__body > div:nth-child(even) {
        background-color: pink;
      }
      .current__body > div:nth-child(odd) {
        background-color: lightblue;
      } */


.past__header {
  grid-area: pstrst;
}

.past__body {
  grid-area: pr_bdy;
}

    /* Subdiv because the grid is rendered by React */
    /* React adds its own data-reactroot node */
    .past__body {
      display: grid;
      grid-template-columns: 160px 160px 160px 160px;
      grid-template-rows: 210px 210px 210px;
      grid-gap: 2em;
      margin-left: 20%;
    }

    .past__body > div:nth-child(even) {
      background-color: pink;
    }
    .past__body > div:nth-child(odd) {
      background-color: lightblue;
    }

.past__form {
  grid-area: pr_frm;
}

.purveyors__header {
  grid-area: prvyrs;
}

.purveyors__body {
  grid-area: prv_bd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 210px 210px 210px 210px;
  grid-gap: 2em;
  margin-left: 13%;
  margin-right: 13%;
  grid-template-areas:
  "one one three three"
  "two two three three"
  "four four five five"
  "four four six seven";
}
    .one {
      grid-area: one;
      box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    }
    .two {
      grid-area: two;
      box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    }
    .three {
      grid-area: three;
      box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    }
    .four {
      grid-area: four;
      box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    }
    .five {
      grid-area: five;
      box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    }
    .six {
      grid-area: six;
      box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    }
    .seven {
      grid-area: seven;
      box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    }

    .purveyors__body > div:nth-child(even) {
      background-color: pink;
    }
    .purveyors__body > div:nth-child(odd) {
      background-color: lightblue;
    }

.contact__header {
  grid-area: contct;
}

.contact__body {
  grid-area: ctctbd;
}

.footer1, .footer2, .footer3 {
  background-color: #2B4257;
}

.footer1 > p, .footer2 > p {
  color: #FFF;
  font-size: 10pt;
  padding: 10px 0 0 0;
  text-align: left;
  align-self: left;
  justify-content: left;
  -moz-text-align-last: left;
  text-align-last: left;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.6em;
}

.footer1 > p {
  margin-left: 40%;
}

.footer2 > p {
  margin-left: 0;
}

.footer1 > h2, .footer2 > h2 {
  color: #E8E8E8;
  font-size: 12pt;
  padding: 20px 0 0 0;
  text-align: left;
  align-self: left;
  justify-content: left;
  -moz-text-align-last: left;
  text-align-last: left;
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer1 > h2 {
  margin-left: 40%;
}

.footer2 > h2 {
  margin-left: 0;
}

.footer1 {
  grid-area: footer1;
}
.footer2 {
  grid-area: footer2;
}



/******* Screen-size Specific *******/

@media screen and (min-width: 1200px) {
  .header__nav {
    font-size: 17px;
  }
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 480px) minmax(180px, 480px) minmax(180px, 480px);
    grid-template-rows:
    /* HEADER */
    60px

    /* SOCIAL */
    60px

    /* ABOUT */
    minmax(auto, auto)
    330px
    143px
    143px
    221px
    953px

    /*** RESIDENT ROASTER ***/
    143px
    330px
    311px
    221px

    /*** CURRENT ROASTER ***/
    minmax(auto, auto)
    minmax(auto, auto)

    /*** PAST ROASTERS ***/
    minmax(auto, auto)
    minmax(auto, auto)

    /*** PURVEYORS ***/
    143px
    minmax(auto, auto)

    /*** CONTACT ***/
    143px
    minmax(auto, auto)

    /*** FOOTER ***/
    260px;

    grid-template-areas:
      /*** HEADER ***/
      "header header header"

      /*** SOCIAL ***/
      "social social social"
      "video  video  video"
      "photo1 photo2 photo3"

      /*** ABOUT ***/
      "abt_hd abt_hd abt_hd"
      "abt_sh abt_sh abt_sh"
      "abt_bd abt_bd abt_bd"
      "abt_vd abt_vd abt_vd"

      /*** RESIDENT ROASTER ***/
      "res_hd res_hd res_hd"
      "res_p1 res_p2 res_p3"
      "resbd1 resbd1 resbd1"
      "resbd2 resbd2 resbd2"

      /*** CURRENT ROASTER ***/
      "cntrst cntrst cntrst"
      "cr_bdy cr_bdy cr_bdy"

      /*** PAST ROASTERS ***/
      "pstrst pstrst pstrst"
      "pr_bdy pr_bdy pr_frm"

      /*** PURVEYORS ***/
      "prvyrs prvyrs prvyrs"
      "prv_bd prv_bd prv_bd"

      /*** CONTACT ***/
      "contct contct contct"
      "ctctbd ctctbd ctctbd"

      /*** FOOTER ***/
      "footer1 footer2 footer2";
  }

  p {
    font-size: 14pt;
  }
}

@media screen and (max-width: 1199px) {
  .header__nav {
    font-size: 14px;
  }
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 480px) minmax(180px, 480px) minmax(180px, 480px);
    grid-template-rows:
    /* HEADER */
    60px

    /* SOCIAL */
    60px

    /* ABOUT */
    minmax(auto, auto)
    330px
    143px
    143px
    221px
    953px

    /*** RESIDENT ROASTER ***/
    143px
    330px
    311px
    221px

    /*** CURRENT ROASTER ***/
    minmax(auto, auto)
    minmax(auto, auto)

    /*** PAST ROASTERS ***/
    minmax(auto, auto)
    minmax(auto, auto)

    /*** PURVEYORS ***/
    143px
    minmax(auto, auto)

    /*** CONTACT ***/
    143px
    minmax(auto, auto)

    /*** FOOTER ***/
    260px;

    grid-template-areas:
      /*** HEADER ***/
      "header header header"

      /*** SOCIAL ***/
      "social social social"
      "video  video  video "
      "photo1 photo2 photo3"

      /*** ABOUT ***/
      "abt_hd abt_hd abt_hd"
      "abt_sh abt_sh abt_sh"
      "abt_bd abt_bd abt_bd"
      "abt_vd abt_vd abt_vd"

      /*** RESIDENT ROASTER ***/
      "res_hd res_hd res_hd"
      "res_p1 res_p2 res_p3"
      "resbd1 resbd1 resbd1"
      "resbd2 resbd2 resbd2"

      /*** CURRENT ROASTER ***/
      "cntrst cntrst cntrst"
      "cr_bdy cr_bdy cr_bdy"

      /*** PAST ROASTERS ***/
      "pstrst pstrst pstrst"
      "pr_bdy pr_bdy pr_frm"

      /*** PURVEYORS ***/
      "prvyrs prvyrs prvyrs"
      "prv_bd prv_bd prv_bd"

      /*** CONTACT ***/
      "contct contct contct"
      "ctctbd ctctbd ctctbd"

      /*** FOOTER ***/
      "footer1 footer2 footer2";
  }

  p {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  .header__nav {
    font-size: 14px;
  }
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 480px) minmax(180px, 480px) minmax(180px, 480px);
    grid-template-rows:
    /* HEADER */
    60px

    /* SOCIAL */
    60px

    /* ABOUT */
    minmax(auto, auto)
    330px 330px 330px
    143px
    143px
    221px
    953px

    /*** RESIDENT ROASTER ***/
    143px
    330px 330px 330px
    311px
    221px

    /*** CURRENT ROASTER ***/
    minmax(auto, auto)
    minmax(auto, auto)

    /*** PAST ROASTERS ***/
    minmax(auto, auto)
    minmax(auto, auto)

    /*** PURVEYORS ***/
    143px
    minmax(auto, auto)

    /*** CONTACT ***/
    143px
    minmax(auto, auto)

    /*** FOOTER ***/
    260px;

    grid-template-areas:

      /*** HEADER ***/
      "header header header"

      /*** SOCIAL ***/
      "social social social"
      "video  video  video "
      "photo1 photo1 photo1"
      "photo2 photo2 photo2"
      "photo3 photo3 photo3"

      /*** ABOUT ***/
      "abt_hd abt_hd abt_hd"
      "abt_sh abt_sh abt_sh"
      "abt_bd abt_bd abt_bd"
      "abt_vd abt_vd abt_vd"

      /*** RESIDENT ROASTER ***/
      "res_hd res_hd res_hd"
      "res_p1 res_p1 res_p1"
      "res_p2 res_p2 res_p2"
      "res_p3 res_p3 res_p3"
      "resbd1 resbd1 resbd1"
      "resbd2 resbd2 resbd2"

      /*** CURRENT ROASTER ***/
      "cntrst cntrst cntrst"
      "cr_bdy cr_bdy cr_bdy"

      /*** PAST ROASTERS ***/
      "pstrst pstrst pstrst"
      "pr_bdy pr_bdy pr_bdy"
      "pr_frm pr_frm pr_frm"

      /*** PURVEYORS ***/
      "prvyrs prvyrs prvyrs"
      "prv_bd prv_bd prv_bd"

      /*** CONTACT ***/
      "contct contct contct"
      "ctctbd ctctbd ctctbd"

      /*** FOOTER ***/
      "footer1 footer2 footer2";
  }

  p {
    font-size: 10pt;
  }
}

/* .grid > div:nth-child(even) {
  background-color: pink;
}
.grid > div:nth-child(odd) {
  background-color: lightblue;
} */
