* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
  size: 50pt;
  font-weight: 400;
  text-align: center;
}

h2 {

}

h3 {

}

.header__button {
  background-color: #4A4A4A;
  border: none;
  color: white;
  text-align: center;
  font-size: 14pt;
  border-radius: 12pt;
  height: 40px;
  width: 129px;
  font-weight: 100;
  margin-top: 9px;
  margin-left: 5%;
  float: left;
  box-shadow: 3px 3px 3px rgba(255,195,160,0.5);
  transition: 0.3s;
}

.header__button:hover {
  background-color: #313131;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: Helvetica, sans-serif;
  font-style: bold;
  color: #4A4A4A;
  font-weight: 100;
  margin-right: 5%;
}

.header {
  grid-area: header;
}
.social {
  grid-area: social;
  background: #F3F2F2;
}
.header__video {
  grid-area: video;
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
.photo1 {
  grid-area: photo1;
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
.photo2 {
  grid-area: photo2;
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
.photo3 {
  grid-area: photo3;
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
.about__header {
  grid-area: abt_hd;
  align-self: center;
}
.about__subheader {
  grid-area: abt_sh;
  background: #F3F2F2;
}
.about__body {
  grid-area: abt_bd;
}
.about__video {
  grid-area: abt_vd;
}

@media screen and (min-width: 1200px) {
  .header__nav {
    font-size: 17px;
  }
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 480px) minmax(180px, 480px) minmax(180px, 480px);
    grid-template-rows: 60px 60px minmax(auto, auto) 330px 143px 143px 221px 953px;
    grid-template-areas:
      "header header header"
      "social social social"
      "video  video  video"
      "photo1 photo2 photo3"
      "abt_hd abt_hd abt_hd"
      "abt_sh abt_sh abt_sh"
      "abt_bd abt_bd abt_bd"
      "abt_vd abt_vd abt_vd";
  }
}

@media screen and (max-width: 1199px) {
  .header__nav {
    font-size: 14px;
  }
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 480px) minmax(180px, 480px) minmax(180px, 480px);
    grid-template-rows: 60px 60px minmax(auto, auto) 330px 143px 143px 221px 953px;
    grid-template-areas:
      "header header header"
      "social social social"
      "video  video  video "
      "photo1 photo2 photo3"
      "abt_hd abt_hd abt_hd"
      "abt_sh abt_sh abt_sh"
      "abt_bd abt_bd abt_bd"
      "abt_vd abt_vd abt_vd";
  }
}

@media screen and (max-width: 480px) {
  .header__nav {
    font-size: 14px;
  }
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 480px) minmax(180px, 480px) minmax(180px, 480px);
    grid-template-rows: 60px 60px minmax(auto, auto) 330px 330px 330px 143px 143px 221px 953px;
    grid-template-areas:
      "header header header"
      "social social social"
      "video  video  video "
      "photo1 photo1 photo1"
      "photo2 photo2 photo2"
      "photo3 photo3 photo3"
      "abt_hd abt_hd abt_hd"
      "abt_sh abt_sh abt_sh"
      "abt_bd abt_bd abt_bd"
      "abt_vd abt_vd abt_vd";
  }
}

.header__nav > div {
  padding-top: 22px;
  margin-left: 5%;
  border-bottom: 2px rgba(30,144,255, 0);
}

.header__nav > div:hover {
  text-decoration:none;
  border-bottom: 2px solid rgba(30,144,255, 1);
  transition: 0.3s;
}

/* .grid > div:nth-child(even) {
  background-color: pink;
}
.grid > div:nth-child(odd) {
  background-color: lightblue;
} */
