/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 3, ../sass/_selectors.scss */
* {
  margin: 0;
  padding: 0;
}

/******* Selectors *******/
/* line 14, ../sass/_selectors.scss */
h1 {
  font-family: 'Karla', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #2B4257;
}

/* line 22, ../sass/_selectors.scss */
h2 {
  font-family: Futura, 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 10%;
  padding-right: 10%;
}

/* line 31, ../sass/_selectors.scss */
h3 {
  font-family: 'Libre Baskerville', Baskerville, Garamond, serif;
  color: #0A2845;
  font-style: italic;
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

/* line 43, ../sass/_selectors.scss */
p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  display: block;
  padding-left: 25%;
  padding-right: 25%;
  line-height: 1.3em;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

/* line 55, ../sass/_selectors.scss */
b {
  font-weight: bold;
}

/* line 59, ../sass/_selectors.scss */
ul {
  list-style-type: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
}

/* line 66, ../sass/_selectors.scss */
textarea {
  width: 98%;
  height: 240px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 5px;
  display: inline-block;
}

/* line 80, ../sass/_selectors.scss */
input {
  width: 98%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 5px;
  display: inline-block;
}

/* line 3, ../sass/_header.scss */
.header__button {
  background-color: #4A4A4A;
  border: solid;
  border-width: 2px;
  border-color: orange;
  color: white;
  text-align: center;
  font-size: 14pt;
  border-radius: 12pt;
  height: 40px;
  width: 129px;
  font-weight: 100;
  margin-top: 9px;
  margin-left: 5%;
  float: left;
  transition-duration: 0.3s;
}
/* line 19, ../sass/_header.scss */
.header__button:hover {
  box-shadow: 0px 1px 16px 1px rgba(255, 195, 60, 0.5);
  transition-duration: 0.1s;
}
/* line 24, ../sass/_header.scss */
.header__button:active {
  box-shadow: none;
}

/* line 29, ../sass/_header.scss */
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #4A4A4A;
  margin-right: 5%;
}
/* line 37, ../sass/_header.scss */
.header__nav > div {
  padding-top: 22px;
  margin-left: 5%;
  border-bottom: 2px rgba(30, 144, 255, 0);
  letter-spacing: 1px;
}
/* line 42, ../sass/_header.scss */
.header__nav > div:hover {
  text-decoration: none;
  border-bottom: 2px solid #4A4A4A;
  transition: 0.3s;
}
/* line 48, ../sass/_header.scss */
.header__nav a {
  text-decoration: none;
  color: #4A4A4A;
}

/* line 54, ../sass/_header.scss */
#teaser {
  position: absolute;
  line-hight: 1.2em;
  z-index: 1000;
  opacity: 0.7;
  text-align: left !important;
}

/* line 3, ../sass/_social.scss */
#address, #hours {
  padding-right: 3%;
  justify-content: flex-start;
}

/* line 8, ../sass/_social.scss */
#facebook {
  margin-left: auto;
  margin-top: 5px;
}

/* line 13, ../sass/_social.scss */
#instagram {
  margin-left: 5%;
  margin-top: 5px;
}

/* line 18, ../sass/_social.scss */
#spotify {
  margin-left: 5%;
  margin-right: 5.2%;
  margin-top: 5px;
}

@media screen and (min-width: 1200px) {
  /* line 4, ../sass/_min-width-1200.scss */
  h1 {
    font-size: 30pt;
    line-height: 1.2em;
  }

  /* line 8, ../sass/_min-width-1200.scss */
  h2 {
    font-size: 25pt;
    line-height: 1.2em;
  }

  /* line 12, ../sass/_min-width-1200.scss */
  h3 {
    font-size: 16pt;
    line-height: 1.2em;
  }

  /* line 16, ../sass/_min-width-1200.scss */
  p {
    font-size: 14pt;
    line-height: 1.3em;
  }

  /* line 21, ../sass/_min-width-1200.scss */
  .header__nav {
    font-size: 17px;
  }

  /* line 24, ../sass/_min-width-1200.scss */
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 640px) minmax(180px, 640px) minmax(180px, 640px);
    grid-template-rows: 60px 60px minmax(auto, auto) minmax(auto, auto) 143px 143px 221px minmax(auto, auto) 200px minmax(auto, auto) 311px 221px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) 143px 143px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) 260px;
    grid-template-areas: "header header header" "social social social" "video  video  video" "photo1 photo2 photo3" "abt_hd abt_hd abt_hd" "abt_sh abt_sh abt_sh" "abt_bd abt_bd abt_bd" "abt_vd abt_vd abt_vd" "res_hd res_hd res_hd" "res_p1 res_p2 res_p3" "resbd1 resbd1 resbd1" "resbd2 resbd2 resbd2" "cntrst cntrst cntrst" "cr_bdy cr_bdy cr_bdy" "pstrst pstrst pstrst" "pr_bdy pr_bdy pr_bdy" "pr_frm pr_frm pr_frm" "prvyrs prvyrs prvyrs" "prv_bd prv_bd prv_bd" "contct contct contct" "ctctbd ctctbd ctctbd" "footer1 footer2 footer2";
  }

  /* line 110, ../sass/_min-width-1200.scss */
  .about__video {
    max-width: 70vw;
    margin: 3% auto;
  }

  /* line 115, ../sass/_min-width-1200.scss */
  #teaser {
    font-size: 60pt;
    margin: 90px 0 0 110px;
    line-hight: 1.3em;
  }
}
@media screen and (max-width: 1199px) {
  /* line 4, ../sass/_max-width-1199.scss */
  .header__nav {
    font-size: 14px;
  }

  /* line 7, ../sass/_max-width-1199.scss */
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 640px) minmax(180px, 640px) minmax(180px, 640px);
    grid-template-rows: 60px 60px minmax(auto, auto) minmax(auto, auto) 143px 143px 221px minmax(auto, auto) 200px minmax(auto, auto) 311px 221px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) 143px 143px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) 260px;
    grid-template-areas: "header header header" "social social social" "video  video  video " "photo1 photo2 photo3" "abt_hd abt_hd abt_hd" "abt_sh abt_sh abt_sh" "abt_bd abt_bd abt_bd" "abt_vd abt_vd abt_vd" "res_hd res_hd res_hd" "res_p1 res_p2 res_p3" "resbd1 resbd1 resbd1" "resbd2 resbd2 resbd2" "cntrst cntrst cntrst" "cr_bdy cr_bdy cr_bdy" "pstrst pstrst pstrst" "pr_bdy pr_bdy pr_bdy" "pr_frm pr_frm pr_frm" "prvyrs prvyrs prvyrs" "prv_bd prv_bd prv_bd" "contct contct contct" "ctctbd ctctbd ctctbd" "footer1 footer2 footer2";
  }

  /* line 93, ../sass/_max-width-1199.scss */
  .about__video {
    max-width: 70vw;
    margin: 3% auto;
  }

  /* line 97, ../sass/_max-width-1199.scss */
  #teaser {
    font-size: 40pt;
    margin: 60px 0 0 60px;
  }
}
@media screen and (max-width: 640px) {
  /* line 4, ../sass/_max-width-640.scss */
  p {
    padding-left: 15%;
    padding-right: 15%;
  }

  /* line 8, ../sass/_max-width-640.scss */
  .header__nav {
    font-size: 14px;
  }

  /* line 12, ../sass/_max-width-640.scss */
  .social__content img {
    max-width: 50%;
    height: auto;
  }
  /* line 16, ../sass/_max-width-640.scss */
  .social__content #facebook {
    margin-left: 10%;
  }
  /* line 19, ../sass/_max-width-640.scss */
  .social__content #spotify, .social__content #instagram {
    justify-self: right;
    margin-right: 0;
    margin-left: 3%;
  }

  /* line 25, ../sass/_max-width-640.scss */
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 640px) minmax(180px, 640px) minmax(180px, 640px);
    grid-template-rows: 60px 60px minmax(auto, auto) minmax(auto, auto) 143px 143px 221px minmax(auto, auto) 200px minmax(auto, auto) 311px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) 311px 311px minmax(auto, auto) minmax(auto, auto) 211px 311px 60px 311px minmax(auto, auto) minmax(auto, auto) 260px;
    grid-template-areas: "header header header" "social social social" "video  video  video " "photo1 photo1 photo1" "photo2 photo2 photo2" "photo3 photo3 photo3" "abt_hd abt_hd abt_hd" "abt_sh abt_sh abt_sh" "abt_bd abt_bd abt_bd" "abt_vd abt_vd abt_vd" "res_hd res_hd res_hd" "res_p1 res_p1 res_p1" "res_p2 res_p2 res_p2" "res_p3 res_p3 res_p3" "resbd1 resbd1 resbd1" "resbd2 resbd2 resbd2" "cntrst cntrst cntrst" "cr_bdy cr_bdy cr_bdy" "pstrst pstrst pstrst" "pr_bdy pr_bdy pr_bdy" "pr_frm pr_frm pr_frm" "prvyrs prvyrs prvyrs" "prv_bd prv_bd prv_bd" "contct contct contct" "ctctbd ctctbd ctctbd" "footer1 footer2 footer2";
  }

  /* line 117, ../sass/_max-width-640.scss */
  .about__video {
    max-width: 100vw;
    margin: 0 auto;
  }

  /* line 121, ../sass/_max-width-640.scss */
  #teaser {
    font-size: 16pt;
    margin: 40px 0 0 40px;
  }
}
/* line 3, ../sass/_slick-slider.scss */
.slide {
  height: 100%;
}

/* line 7, ../sass/_slick-slider.scss */
.slick-track {
  height: 210px;
}

/* line 11, ../sass/_slick-slider.scss */
[id^="slick-slide"]:not([id^="slick-slide-control"]) {
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
  margin: 10px;
}
/* line 14, ../sass/_slick-slider.scss */
[id^="slick-slide"]:not([id^="slick-slide-control"]) > div {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  outline: none;
  height: 100%;
  max-height: 100%;
}
/* line 22, ../sass/_slick-slider.scss */
[id^="slick-slide"]:not([id^="slick-slide-control"]) > div img {
  margin: 0 auto;
  width: auto;
  max-height: 65%;
}
/* line 27, ../sass/_slick-slider.scss */
[id^="slick-slide"]:not([id^="slick-slide-control"]) > div #text-flex {
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 35, ../sass/_slick-slider.scss */
#img-flex {
  margin-top: 20px;
}

/* line 16, ../sass/screen.scss */
.logo {
  position: absolute;
  left: 50%;
  transform: translate(-92.5px, 54px);
}

/******* Grid Areas *******/
/* line 24, ../sass/screen.scss */
.header {
  grid-area: header;
}

/* line 28, ../sass/screen.scss */
.social {
  grid-area: social;
  background: #F3F2F2;
}

/* line 33, ../sass/screen.scss */
.social__content {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 5%;
  position: relative;
  line-height: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 11pt;
  color: #0A2845;
  white-space: nowrap;
  align-items: center;
  align-self: center;
}

/* line 48, ../sass/screen.scss */
.header__video {
  grid-area: video;
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -100;
}

/* line 59, ../sass/screen.scss */
.photo1, .photo2, .photo3 {
  margin-top: -6px;
  min-height: 180px;
}
/* line 62, ../sass/screen.scss */
.photo1 img, .photo2 img, .photo3 img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

/* line 69, ../sass/screen.scss */
.photo1 {
  grid-area: photo1;
}

/* line 73, ../sass/screen.scss */
.photo2 {
  grid-area: photo2;
}

/* line 77, ../sass/screen.scss */
.photo3 {
  grid-area: photo3;
}

/* line 81, ../sass/screen.scss */
.about__header {
  grid-area: abt_hd;
  align-self: center;
}

/* line 86, ../sass/screen.scss */
.about__subheader {
  grid-area: abt_sh;
  background: #F3F2F2;
  padding-top: 62px;
  padding-bottom: 62px;
}

/* line 93, ../sass/screen.scss */
.about__body {
  grid-area: abt_bd;
  background-image: url("/assets/media/photos/stone.png");
}

/* line 98, ../sass/screen.scss */
.about__video {
  grid-area: abt_vd;
}

/* line 103, ../sass/screen.scss */
.resident__header {
  grid-area: res_hd;
  align-self: center;
  text-align: center;
}

/* line 109, ../sass/screen.scss */
.resident__photo1, .resident__photo2, .resident__photo3 {
  margin-top: -6px;
  min-height: 180px;
}
/* line 112, ../sass/screen.scss */
.resident__photo1 img, .resident__photo2 img, .resident__photo3 img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

/* line 119, ../sass/screen.scss */
.resident__photo1 {
  grid-area: res_p1;
}

/* line 123, ../sass/screen.scss */
.resident__photo2 {
  grid-area: res_p2;
}

/* line 127, ../sass/screen.scss */
.resident__photo3 {
  grid-area: res_p3;
}

/* line 131, ../sass/screen.scss */
.resident__body1 {
  grid-area: resbd1;
  align-self: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

/* line 139, ../sass/screen.scss */
.resident__body2 {
  grid-area: resbd2;
  background-image: url("/assets/media/photos/stone.png");
}

/* line 144, ../sass/screen.scss */
.current__header {
  grid-area: cntrst;
  margin-bottom: 99px;
}

/* line 149, ../sass/screen.scss */
.current__ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 160px;
  padding-left: 5%;
}

@media screen and (min-width: 1200px) {
  /* line 158, ../sass/screen.scss */
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
    grid-template-areas: "left left top top top" "left left mid mid mid" "left left btm btm btm";
  }
}
@media screen and (max-width: 1199px) {
  /* line 176, ../sass/screen.scss */
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
    grid-template-areas: "left left left left left" ".    top top top top" ".    mid mid mid mid" ".    btm btm btm btm";
  }

  /* line 192, ../sass/screen.scss */
  #current__highlight {
    justify-self: center;
  }
}
@media screen and (max-width: 640px) {
  /* line 198, ../sass/screen.scss */
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
    grid-template-areas: "left left left left left" "top top top top top" "mid mid mid mid mid" "btm btm btm btm btm";
  }
}
/* line 216, ../sass/screen.scss */
.nested_left {
  grid-area: left;
  align-self: center;
}

/* line 221, ../sass/screen.scss */
.nested_top {
  grid-area: top;
  display: inline-block;
}

/* line 226, ../sass/screen.scss */
.nested_mid {
  grid-area: mid;
  display: inline-block;
}

/* line 231, ../sass/screen.scss */
.nested_bottem {
  grid-area: btm;
  display: inline-block;
}

/* line 236, ../sass/screen.scss */
.past__header {
  grid-area: pstrst;
}

/* line 240, ../sass/screen.scss */
.past__body {
  grid-area: pr_bdy;
  font-size: 12pt;
  color: #000;
  line-height: 1.5em;
  border-color: #ccc;
  width: 75vw;
  margin: 0 auto;
}

/* line 250, ../sass/screen.scss */
.past__form {
  grid-area: pr_frm;
}

/* line 254, ../sass/screen.scss */
.purveyors__header {
  grid-area: prvyrs;
  margin-top: 2.5em;
}

/* line 259, ../sass/screen.scss */
.purveyors__body {
  grid-area: prv_bd;
  display: grid;
  grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
  grid-template-rows: 210px 210px 210px 210px;
  grid-gap: 2em;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
/* line 268, ../sass/screen.scss */
.purveyors__body > div {
  box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* line 276, ../sass/screen.scss */
.one {
  grid-area: one;
}

/* line 280, ../sass/screen.scss */
.two {
  grid-area: two;
}

/* line 284, ../sass/screen.scss */
.three {
  grid-area: three;
}

/* line 288, ../sass/screen.scss */
.four {
  grid-area: four;
}

/* line 292, ../sass/screen.scss */
.five {
  grid-area: five;
}

/* line 296, ../sass/screen.scss */
.six {
  grid-area: six;
}

/* line 300, ../sass/screen.scss */
.seven {
  grid-area: seven;
}

@media screen and (min-width: 1200px) {
  /* line 305, ../sass/screen.scss */
  .purveyors__body {
    grid-template-areas: "one one three three" "two two three three" "four four five five" "four four six seven";
  }
}
@media screen and (max-width: 1199px) {
  /* line 315, ../sass/screen.scss */
  .purveyors__body {
    grid-template-areas: ". one one     ." ". two two     ." ". three three ." ". three three ." ". four four   ." ". four four   ." ". five five   ." ". six seven   .";
  }
}
@media screen and (max-width: 640px) {
  /* line 329, ../sass/screen.scss */
  .purveyors__body {
    grid-template-areas: "one one" "two two" "three three" "three three" "four four" "four four" "five five" "six six" "seven seven";
  }
}
/* line 343, ../sass/screen.scss */
.contact__header {
  grid-area: contct;
}

/* line 347, ../sass/screen.scss */
.contact__body {
  grid-area: ctctbd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto, auto);
  padding-top: 3rem;
  padding-bottom: 3rem;
  grid-column-gap: 2rem;
}

/* line 357, ../sass/screen.scss */
.footer1, .footer2, .footer3 {
  background-color: #2B4257;
}

/* line 361, ../sass/screen.scss */
.footer1 > p, .footer2 > p {
  color: #FFF;
  font-size: 10pt;
  padding: 10px 0 0 0;
  text-align: left;
  align-self: flex-start;
  justify-content: left;
  -moz-text-align-last: left;
  text-align-last: left;
  line-height: 1.6em;
}

/* line 373, ../sass/screen.scss */
.footer1 > p {
  margin-left: 40%;
}

/* line 377, ../sass/screen.scss */
.footer2 > p {
  margin-left: 0;
}

/* line 381, ../sass/screen.scss */
.footer1 > h2, .footer2 > h2 {
  color: #E8E8E8;
  font-size: 12pt;
  padding: 20px 0 0 0;
  text-align: left;
  align-self: flex-start;
  justify-content: left;
  -moz-text-align-last: left;
  text-align-last: left;
}

/* line 392, ../sass/screen.scss */
.footer1 > h2 {
  margin-left: 40%;
}

/* line 396, ../sass/screen.scss */
.footer2 > h2 {
  margin-left: 0;
}

/* line 400, ../sass/screen.scss */
.footer1 {
  grid-area: footer1;
}

/* line 404, ../sass/screen.scss */
.footer2 {
  grid-area: footer2;
}
