/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/screen.scss */
html {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/******* Selectors *******/
/* line 24, ../sass/screen.scss */
h1 {
  font-family: 'Karla', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #2B4257;
}

/* line 32, ../sass/screen.scss */
h2 {
  font-family: Futura, 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 10%;
  padding-right: 10%;
}

/* line 41, ../sass/screen.scss */
h3 {
  font-family: 'Libre Baskerville', Baskerville, Garamond, serif;
  color: #0A2845;
  text-align: center;
  font-style: italic;
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

/* line 54, ../sass/screen.scss */
p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  text-align: center;
  display: block;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

/* line 66, ../sass/screen.scss */
ul {
  list-style-type: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.6rem;
  line-height: 1.5em;
}

/* line 73, ../sass/screen.scss */
textarea {
  width: 98%;
  height: 240px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 5px;
  display: inline-block;
}

/* line 87, ../sass/screen.scss */
input {
  width: 98%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 5px;
  display: inline-block;
}

/* line 100, ../sass/screen.scss */
.logo {
  position: absolute;
  left: 50%;
  transform: translate(-92.5px, 54px);
}

/* line 106, ../sass/screen.scss */
.header__button {
  background-color: #4A4A4A;
  border: solid;
  border-width: 2px;
  border-color: orange;
  color: white;
  text-align: center;
  font-size: 14pt;
  border-radius: 12pt;
  height: 40px;
  width: 129px;
  font-weight: 100;
  margin-top: 9px;
  margin-left: 5%;
  float: left;
  transition-duration: 0.3s;
}
/* line 122, ../sass/screen.scss */
.header__button:hover {
  box-shadow: 0px 1px 16px 1px rgba(255, 195, 60, 0.5);
  transition-duration: 0.1s;
}
/* line 127, ../sass/screen.scss */
.header__button:active {
  box-shadow: none;
}

/* line 132, ../sass/screen.scss */
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: Helvetica, sans-serif;
  font-style: bold;
  color: #4A4A4A;
  font-weight: 100;
  margin-right: 5%;
}
/* line 141, ../sass/screen.scss */
.header__nav > div {
  padding-top: 22px;
  margin-left: 5%;
  border-bottom: 2px rgba(30, 144, 255, 0);
}
/* line 145, ../sass/screen.scss */
.header__nav > div:hover {
  text-decoration: none;
  border-bottom: 2px solid #4A4A4A;
  transition: 0.3s;
}

/******* Grid Areas *******/
/* line 155, ../sass/screen.scss */
.header {
  grid-area: header;
}

/* line 159, ../sass/screen.scss */
.social {
  grid-area: social;
  background: #F3F2F2;
}

/* line 164, ../sass/screen.scss */
.social__content {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 5%;
  position: relative;
  /* top: 50%;
  transform: perspective(1px) translateY(-50%); */
  line-height: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 11pt;
  color: #0A2845;
  white-space: nowrap;
  align-items: center;
  align-self: center;
}

/* line 181, ../sass/screen.scss */
#address, #hours {
  padding-right: 3%;
  justify-content: flex-start;
  font-weight: bold;
}

/* line 187, ../sass/screen.scss */
#facebook {
  margin-left: auto;
  margin-top: 5px;
}

/* line 192, ../sass/screen.scss */
#instagram {
  margin-left: 5%;
  margin-top: 5px;
}

/* line 197, ../sass/screen.scss */
#spotify {
  margin-left: 5%;
  margin-right: 5.2%;
  margin-top: 5px;
}

/* line 203, ../sass/screen.scss */
.header__video {
  grid-area: video;
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -100;
}

/* line 214, ../sass/screen.scss */
.photo1, .photo2, .photo3 {
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
}

/* line 221, ../sass/screen.scss */
.photo1 {
  grid-area: photo1;
}

/* line 225, ../sass/screen.scss */
.photo2 {
  grid-area: photo2;
}

/* line 229, ../sass/screen.scss */
.photo3 {
  grid-area: photo3;
}

/* line 233, ../sass/screen.scss */
.about__header {
  grid-area: abt_hd;
  align-self: center;
}

/* line 238, ../sass/screen.scss */
.about__subheader {
  grid-area: abt_sh;
  background: #F3F2F2;
  padding-top: 62px;
}

/* line 244, ../sass/screen.scss */
.about__body {
  grid-area: abt_bd;
  background-image: url("/assets/media/photos/stone.png");
}

/* line 249, ../sass/screen.scss */
.about__video {
  grid-area: abt_vd;
  max-width: 956px;
  height: auto;
  margin: 3% auto;
  max-width: 100vw;
}

/* line 258, ../sass/screen.scss */
.resident__header {
  grid-area: res_hd;
  align-self: center;
  text-align: center;
}

/* line 264, ../sass/screen.scss */
.resident__photo1 {
  grid-area: res_p1;
}

/* line 268, ../sass/screen.scss */
.resident__photo2 {
  grid-area: res_p2;
}

/* line 272, ../sass/screen.scss */
.resident__photo3 {
  grid-area: res_p3;
}

/* line 276, ../sass/screen.scss */
.resident__body1 {
  grid-area: resbd1;
  align-self: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

/* line 284, ../sass/screen.scss */
.resident__body2 {
  grid-area: resbd2;
  background-image: url("/assets/media/photos/stone.png");
}

/* line 289, ../sass/screen.scss */
.current__header {
  grid-area: cntrst;
  margin-bottom: 99px;
}

/* line 294, ../sass/screen.scss */
.current__ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 160px;
  padding-left: 5%;
}

@media screen and (min-width: 1200px) {
  /* line 303, ../sass/screen.scss */
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
    grid-template-areas: "left left top top top" "left left mid mid mid" "left left btm btm btm";
  }
}
@media screen and (max-width: 1199px) {
  /* line 321, ../sass/screen.scss */
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
    grid-template-areas: "left left left left left" ".    top top top top" ".    mid mid mid mid" ".    btm btm btm btm";
  }

  /* line 337, ../sass/screen.scss */
  #current__highlight {
    justify-self: center;
  }
}
@media screen and (max-width: 640px) {
  /* line 343, ../sass/screen.scss */
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
    grid-template-areas: "left left left left left" "top top top top top" "mid mid mid mid mid" "btm btm btm btm btm";
  }
}
/* line 361, ../sass/screen.scss */
.nested_left {
  grid-area: left;
  align-self: center;
}

/* line 366, ../sass/screen.scss */
.nested_top {
  grid-area: top;
  display: inline-block;
}

/* line 371, ../sass/screen.scss */
.nested_mid {
  grid-area: mid;
  display: inline-block;
}

/* line 376, ../sass/screen.scss */
.nested_bottem {
  grid-area: btm;
  display: inline-block;
}

/* .current__body > div:nth-child(even) {
  background-color: pink;
}
.current__body > div:nth-child(odd) {
  background-color: lightblue;
} */
/* line 388, ../sass/screen.scss */
.past__header {
  grid-area: pstrst;
}

/* line 392, ../sass/screen.scss */
.past__body {
  grid-area: pr_bdy;
  font-size: 12pt;
  color: #000;
  line-height: 1.5em;
  border-color: #ccc;
  width: 75vw;
}
/* line 406, ../sass/screen.scss */
.past__body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* line 420, ../sass/screen.scss */
[id^="slick-slide"] {
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

/* line 425, ../sass/screen.scss */
#text-flex {
  align-self: flex-start;
  vertical-align: bottom;
  margin-left: 10px;
  /* margin-top: 10px; */
  margin-bottom: 15px;
  flex-grow: 0;
}

/* .past__body > div:nth-child(even) {
  background-color: pink;
}
.past__body > div:nth-child(odd) {
  background-color: lightblue;
} */
/* line 441, ../sass/screen.scss */
.past__form {
  grid-area: pr_frm;
}

/* line 445, ../sass/screen.scss */
.purveyors__header {
  grid-area: prvyrs;
  margin-top: 2.5em;
}

/* line 450, ../sass/screen.scss */
.purveyors__body {
  grid-area: prv_bd;
  display: grid;
  grid-template-columns: 255px 255px 255px 255px;
  grid-template-rows: 210px 210px 210px 210px;
  grid-gap: 2em;
  margin-left: 13%;
  margin-right: 13%;
  text-align: center;
  vertical-align: middle;
}
/* line 460, ../sass/screen.scss */
.purveyors__body > div {
  box-shadow: 0px 1px 30px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* line 468, ../sass/screen.scss */
.one {
  grid-area: one;
}

/* line 472, ../sass/screen.scss */
.two {
  grid-area: two;
}

/* line 476, ../sass/screen.scss */
.three {
  grid-area: three;
}

/* line 480, ../sass/screen.scss */
.four {
  grid-area: four;
}

/* line 484, ../sass/screen.scss */
.five {
  grid-area: five;
}

/* line 488, ../sass/screen.scss */
.six {
  grid-area: six;
}

/* line 492, ../sass/screen.scss */
.seven {
  grid-area: seven;
}

@media screen and (min-width: 1200px) {
  /* line 506, ../sass/screen.scss */
  .purveyors__body {
    grid-template-areas: "one one three three" "two two three three" "four four five five" "four four six seven";
  }
}
@media screen and (max-width: 1199px) {
  /* line 516, ../sass/screen.scss */
  .purveyors__body {
    grid-template-areas: "one one" "two two" "three three" "three three" "four four" "four four" "five five" "six seven";
  }
}
@media screen and (max-width: 640px) {
  /* line 530, ../sass/screen.scss */
  .purveyors__body {
    grid-template-areas: "one one" "two two" "three three" "three three" "four four" "four four" "five five" "six seven";
  }
}
/* line 543, ../sass/screen.scss */
.contact__header {
  grid-area: contct;
}

/* line 547, ../sass/screen.scss */
.contact__body {
  grid-area: ctctbd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto, auto);
  padding-top: 3rem;
  padding-bottom: 3rem;
  grid-column-gap: 2rem;
}

/* line 557, ../sass/screen.scss */
.footer1, .footer2, .footer3 {
  background-color: #2B4257;
}

/* line 561, ../sass/screen.scss */
.footer1 > p, .footer2 > p {
  color: #FFF;
  font-size: 10pt;
  padding: 10px 0 0 0;
  text-align: left;
  align-self: flex-start;
  justify-content: left;
  -moz-text-align-last: left;
  text-align-last: left;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.6em;
}

/* line 575, ../sass/screen.scss */
.footer1 > p {
  margin-left: 40%;
}

/* line 579, ../sass/screen.scss */
.footer2 > p {
  margin-left: 0;
}

/* line 583, ../sass/screen.scss */
.footer1 > h2, .footer2 > h2 {
  color: #E8E8E8;
  font-size: 12pt;
  padding: 20px 0 0 0;
  text-align: left;
  align-self: flex-start;
  justify-content: left;
  -moz-text-align-last: left;
  text-align-last: left;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* line 596, ../sass/screen.scss */
.footer1 > h2 {
  margin-left: 40%;
}

/* line 600, ../sass/screen.scss */
.footer2 > h2 {
  margin-left: 0;
}

/* line 604, ../sass/screen.scss */
.footer1 {
  grid-area: footer1;
}

/* line 608, ../sass/screen.scss */
.footer2 {
  grid-area: footer2;
}

/******* Screen-size Specific *******/
@media screen and (min-width: 1200px) {
  /* line 615, ../sass/screen.scss */
  h1 {
    font-size: 30pt;
    line-height: 1.2em;
  }

  /* line 619, ../sass/screen.scss */
  h2 {
    font-size: 25pt;
    line-height: 1.2em;
  }

  /* line 623, ../sass/screen.scss */
  h3 {
    font-size: 16pt;
    line-height: 1.2em;
  }

  /* line 627, ../sass/screen.scss */
  p {
    font-size: 14pt;
    line-height: 1.3em;
  }

  /* line 632, ../sass/screen.scss */
  .header__nav {
    font-size: 17px;
  }

  /* line 635, ../sass/screen.scss */
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 640px) minmax(180px, 640px) minmax(180px, 640px);
    grid-template-rows: 60px 60px minmax(auto, auto) 330px 143px 143px 221px minmax(auto, auto) 200px 330px 311px 221px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) 143px minmax(auto, auto) 106px minmax(auto, auto) 260px;
    grid-template-areas: "header header header" "social social social" "video  video  video" "photo1 photo2 photo3" "abt_hd abt_hd abt_hd" "abt_sh abt_sh abt_sh" "abt_bd abt_bd abt_bd" "abt_vd abt_vd abt_vd" "res_hd res_hd res_hd" "res_p1 res_p2 res_p3" "resbd1 resbd1 resbd1" "resbd2 resbd2 resbd2" "cntrst cntrst cntrst" "cr_bdy cr_bdy cr_bdy" "pstrst pstrst pstrst" "pr_bdy pr_bdy pr_bdy" "pr_frm pr_frm pr_frm" "prvyrs prvyrs prvyrs" "prv_bd prv_bd prv_bd" "contct contct contct" "ctctbd ctctbd ctctbd" "footer1 footer2 footer2";
  }

  /* line 720, ../sass/screen.scss */
  .about__video {
    max-width: 70vw;
  }
}
@media screen and (max-width: 1199px) {
  /* line 726, ../sass/screen.scss */
  .header__nav {
    font-size: 14px;
  }

  /* line 729, ../sass/screen.scss */
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 640px) minmax(180px, 640px) minmax(180px, 640px);
    grid-template-rows: 60px 60px minmax(auto, auto) minmax(auto, auto) 143px 143px 221px minmax(auto, auto) 200px 330px 311px 221px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) 143px minmax(auto, auto) 106px minmax(auto, auto) 260px;
    grid-template-areas: "header header header" "social social social" "video  video  video " "photo1 photo2 photo3" "abt_hd abt_hd abt_hd" "abt_sh abt_sh abt_sh" "abt_bd abt_bd abt_bd" "abt_vd abt_vd abt_vd" "res_hd res_hd res_hd" "res_p1 res_p2 res_p3" "resbd1 resbd1 resbd1" "resbd2 resbd2 resbd2" "cntrst cntrst cntrst" "cr_bdy cr_bdy cr_bdy" "pstrst pstrst pstrst" "pr_bdy pr_bdy pr_bdy" "pr_frm pr_frm pr_frm" "prvyrs prvyrs prvyrs" "prv_bd prv_bd prv_bd" "contct contct contct" "ctctbd ctctbd ctctbd" "footer1 footer2 footer2";
  }

  /* line 814, ../sass/screen.scss */
  .about__video {
    max-width: 100vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 640px) {
  /* line 821, ../sass/screen.scss */
  .header__nav {
    font-size: 14px;
  }

  /* line 824, ../sass/screen.scss */
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 640px) minmax(180px, 640px) minmax(180px, 640px);
    grid-template-rows: 60px 60px minmax(auto, auto) minmax(auto, 330px) minmax(auto, 330px) minmax(auto, 330px) 143px 143px 221px minmax(auto, auto) 200px 330px 330px 330px 311px 221px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) 143px minmax(auto, auto) 106px minmax(auto, auto) 260px;
    grid-template-areas: "header header header" "social social social" "video  video  video " "photo1 photo1 photo1" "photo2 photo2 photo2" "photo3 photo3 photo3" "abt_hd abt_hd abt_hd" "abt_sh abt_sh abt_sh" "abt_bd abt_bd abt_bd" "abt_vd abt_vd abt_vd" "res_hd res_hd res_hd" "res_p1 res_p1 res_p1" "res_p2 res_p2 res_p2" "res_p3 res_p3 res_p3" "resbd1 resbd1 resbd1" "resbd2 resbd2 resbd2" "cntrst cntrst cntrst" "cr_bdy cr_bdy cr_bdy" "pstrst pstrst pstrst" "pr_bdy pr_bdy pr_bdy" "pr_frm pr_frm pr_frm" "prvyrs prvyrs prvyrs" "prv_bd prv_bd prv_bd" "contct contct contct" "ctctbd ctctbd ctctbd" "footer1 footer2 footer2";
  }

  /* line 914, ../sass/screen.scss */
  .about__video {
    max-width: 100vw;
    margin: 0 auto;
  }
}
/* .grid > div:nth-child(even) {
  background-color: pink;
}
.grid > div:nth-child(odd) {
  background-color: lightblue;
} */
