/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 3, ../sass/_selectors.scss */
* {
  margin: 0;
  padding: 0;
}

/******* Selectors *******/
/* line 14, ../sass/_selectors.scss */
h1 {
  font-family: 'Karla', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #2B4257;
}

/* line 22, ../sass/_selectors.scss */
h2 {
  font-family: Futura, 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 10%;
  padding-right: 10%;
}

/* line 31, ../sass/_selectors.scss */
h3 {
  font-family: 'Libre Baskerville', Baskerville, Garamond, serif;
  color: #0A2845;
  font-style: italic;
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

/* line 43, ../sass/_selectors.scss */
p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  display: block;
  padding-left: 25%;
  padding-right: 25%;
  line-height: 1.3em;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

/* line 55, ../sass/_selectors.scss */
b {
  font-weight: bold;
}

/* line 59, ../sass/_selectors.scss */
ul {
  list-style-type: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
}

/* line 66, ../sass/_selectors.scss */
textarea {
  width: 98%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 5px;
  display: inline-block;
}

/* line 80, ../sass/_selectors.scss */
input {
  width: 98%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 5px;
  display: inline-block;
}

/* line 92, ../sass/_selectors.scss */
form {
  display: inline-block;
  margin: auto auto;
  width: 100%;
}

/* line 3, ../sass/_header.scss */
.header__button {
  background-color: #4A4A4A;
  border: solid;
  border-width: 2px;
  border-color: orange;
  color: white;
  text-align: center;
  font-size: 14pt;
  border-radius: 12pt;
  height: 40px;
  width: 129px;
  font-weight: 100;
  margin-top: 9px;
  margin-left: 5%;
  float: left;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}
/* line 22, ../sass/_header.scss */
.header__button:hover {
  box-shadow: 0px 1px 16px 1px rgba(255, 195, 60, 0.5);
  transition-duration: 0.1s;
}
/* line 27, ../sass/_header.scss */
.header__button:active {
  box-shadow: none;
}

/* line 32, ../sass/_header.scss */
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #4A4A4A;
  margin-right: 5%;
}
/* line 40, ../sass/_header.scss */
.header__nav > div {
  padding-top: 22px;
  margin-left: 5%;
  border-bottom: 2px rgba(30, 144, 255, 0);
  letter-spacing: 1px;
}
/* line 45, ../sass/_header.scss */
.header__nav > div:hover {
  text-decoration: none;
  border-bottom: 2px solid #4A4A4A;
  transition: 0.3s;
}
/* line 51, ../sass/_header.scss */
.header__nav a {
  text-decoration: none;
  color: #4A4A4A;
}

/* line 57, ../sass/_header.scss */
#teaser {
  position: absolute;
  line-hight: 1.2em;
  z-index: 1000;
  opacity: 0.7;
  text-align: left !important;
}

/* line 3, ../sass/_social.scss */
#address, #hours {
  padding-right: 3%;
  justify-content: flex-start;
}

/* line 8, ../sass/_social.scss */
#facebook {
  margin-left: auto;
  margin-top: 5px;
}

/* line 13, ../sass/_social.scss */
#instagram {
  margin-left: 5%;
  margin-top: 5px;
}

/* line 18, ../sass/_social.scss */
#spotify {
  margin-left: 5%;
  margin-right: 5.2%;
  margin-top: 5px;
}

@media screen and (min-width: 1200px) {
  /* line 4, ../sass/_min-width-1200.scss */
  h1 {
    font-size: 30pt;
    line-height: 1.2em;
  }

  /* line 8, ../sass/_min-width-1200.scss */
  h2 {
    font-size: 25pt;
    line-height: 1.2em;
  }

  /* line 12, ../sass/_min-width-1200.scss */
  h3 {
    font-size: 16pt;
    line-height: 1.2em;
  }

  /* line 16, ../sass/_min-width-1200.scss */
  p {
    font-size: 14pt;
    line-height: 1.3em;
  }

  /* line 21, ../sass/_min-width-1200.scss */
  .header__nav {
    font-size: 17px;
    height: 60px;
  }

  /* line 26, ../sass/_min-width-1200.scss */
  .social__content__social #facebook {
    padding-right: 40px;
  }
  /* line 29, ../sass/_min-width-1200.scss */
  .social__content__social #spotify {
    padding-right: 25px;
  }
  /* line 32, ../sass/_min-width-1200.scss */
  .social__content__social #instagram {
    padding-right: 40px;
  }

  /* line 36, ../sass/_min-width-1200.scss */
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 640px) minmax(180px, 640px) minmax(180px, 640px);
    grid-template-rows: 60px 60px minmax(auto, auto) minmax(auto, auto) 143px 143px 221px 900px 200px minmax(auto, auto) 311px 221px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) 143px 143px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(180px, auto) minmax(260px, auto);
    grid-template-areas: "header header header" "social social social" "video  video  video" "photo1 photo2 photo3" "abt_hd abt_hd abt_hd" "abt_sh abt_sh abt_sh" "abt_bd abt_bd abt_bd" "abt_vd abt_vd abt_vd" "res_hd res_hd res_hd" "res_p1 res_p2 res_p3" "resbd1 resbd1 resbd1" "resbd2 resbd2 resbd2" "cntrst cntrst cntrst" "cr_bdy cr_bdy cr_bdy" "pstrst pstrst pstrst" "pr_bdy pr_bdy pr_bdy" "pr_frm pr_frm pr_frm" "prvyrs prvyrs prvyrs" "prv_bd prv_bd prv_bd" "contct contct contct" "ctctbd ctctbd ctctbd" "instag instag instag" "footer footer footer";
  }

  /* line 128, ../sass/_min-width-1200.scss */
  .about__video {
    width: 70vw;
    height: 600px;
    margin: 3% auto;
  }

  /* line 133, ../sass/_min-width-1200.scss */
  .about__vid__iframe {
    margin-top: 50px;
    height: 600px;
  }

  /* line 137, ../sass/_min-width-1200.scss */
  form {
    width: 540px;
  }

  /* line 140, ../sass/_min-width-1200.scss */
  .form {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }

  /* line 145, ../sass/_min-width-1200.scss */
  #fname {
    width: 47%;
  }

  /* line 148, ../sass/_min-width-1200.scss */
  #lname {
    width: 47%;
  }

  /* line 151, ../sass/_min-width-1200.scss */
  .contact__body {
    grid-template-areas: "form gift";
  }

  /* line 155, ../sass/_min-width-1200.scss */
  #teaser {
    font-size: 60pt;
    margin: 90px 0 0 110px;
    line-height: 1.3em;
  }

  /* line 160, ../sass/_min-width-1200.scss */
  .cafe > p, .follow > p, .copr > p, .dsign > p, .dev > p {
    color: #FFF;
    font-size: 10pt;
    text-align: left;
    padding: 0 !important;
    justify-content: left;
    -moz-text-align-last: left;
    text-align-last: left;
    line-height: 1.6em;
  }

  /* line 170, ../sass/_min-width-1200.scss */
  .cafe > h2, .follow > h2, .copr > h2, .mailing-list > h2 {
    color: #E8E8E8;
    font-size: 12pt;
    text-align: left;
    padding: 20px 0 15px 0 !important;
    justify-content: left;
    -moz-text-align-last: left;
    text-align-last: left;
  }

  /* line 179, ../sass/_min-width-1200.scss */
  .foot1 {
    grid-area: foot1;
    display: grid;
    justify-self: end;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(auto, auto) minmax(auto, auto);
    grid-template-areas: "cafe follow" "copr dsign";
  }

  /* line 189, ../sass/_min-width-1200.scss */
  .foot2 {
    grid-area: foot2;
    display: grid;
    justify-items: start;
    justify-content: start;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, auto) minmax(auto, auto);
    grid-template-areas: "mailing-list" "dev";
  }

  /* line 200, ../sass/_min-width-1200.scss */
  .cafe {
    grid-area: cafe;
    width: 264.595px;
    justify-self: end;
  }

  /* line 205, ../sass/_min-width-1200.scss */
  .follow {
    grid-area: follow;
    width: 264.595px;
    justify-self: end;
  }

  /* line 210, ../sass/_min-width-1200.scss */
  .copr {
    grid-area: copr;
    padding-top: 20px;
    width: 264.595px;
    justify-self: end;
  }

  /* line 216, ../sass/_min-width-1200.scss */
  .dsign {
    grid-area: dsign;
    padding-top: 20px;
    width: 264.595px;
    justify-self: end;
  }

  /* line 222, ../sass/_min-width-1200.scss */
  .mailing-list {
    grid-area: mailing-list;
    height: 162px;
  }

  /* line 226, ../sass/_min-width-1200.scss */
  .dev {
    grid-area: dev;
    padding-top: 20px;
  }

  /* line 230, ../sass/_min-width-1200.scss */
  .footer {
    grid-template-areas: "foot1 foot2";
  }
}
@media screen and (max-width: 1199px) {
  /* line 4, ../sass/_max-width-1199.scss */
  p {
    padding-left: 10%;
    padding-right: 10%;
  }

  /* line 8, ../sass/_max-width-1199.scss */
  .header__nav {
    font-size: 14px;
    height: 60px;
  }

  /* line 13, ../sass/_max-width-1199.scss */
  .social__content__social #facebook {
    padding-right: 40px;
  }
  /* line 16, ../sass/_max-width-1199.scss */
  .social__content__social #spotify {
    padding-right: 25px;
  }
  /* line 19, ../sass/_max-width-1199.scss */
  .social__content__social #instagram {
    padding-right: 40px;
  }

  /* line 23, ../sass/_max-width-1199.scss */
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(180px, 640px) minmax(180px, 640px) minmax(180px, 640px);
    grid-template-rows: 60px 60px minmax(auto, auto) minmax(auto, auto) 143px 143px 221px 750px 200px minmax(auto, auto) 311px 221px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) 143px 143px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(180px, auto) minmax(260px, auto);
    grid-template-areas: "header header header" "social social social" "video  video  video " "photo1 photo2 photo3" "abt_hd abt_hd abt_hd" "abt_sh abt_sh abt_sh" "abt_bd abt_bd abt_bd" "abt_vd abt_vd abt_vd" "res_hd res_hd res_hd" "res_p1 res_p2 res_p3" "resbd1 resbd1 resbd1" "resbd2 resbd2 resbd2" "cntrst cntrst cntrst" "cr_bdy cr_bdy cr_bdy" "pstrst pstrst pstrst" "pr_bdy pr_bdy pr_bdy" "pr_frm pr_frm pr_frm" "prvyrs prvyrs prvyrs" "prv_bd prv_bd prv_bd" "contct contct contct" "ctctbd ctctbd ctctbd" "instag instag instag" "footer footer footer";
  }

  /* line 115, ../sass/_max-width-1199.scss */
  .about__video {
    width: 70vw;
    height: 500px;
    margin: 2% auto;
  }

  /* line 120, ../sass/_max-width-1199.scss */
  .about__vid__iframe {
    margin-top: 50px;
    height: 500px;
  }

  /* line 124, ../sass/_max-width-1199.scss */
  .contact__body {
    grid-template-areas: "gift gift" "form form";
  }

  /* line 129, ../sass/_max-width-1199.scss */
  form {
    width: 540px;
  }

  /* line 132, ../sass/_max-width-1199.scss */
  .form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 137, ../sass/_max-width-1199.scss */
  #fname {
    width: 98%;
  }

  /* line 140, ../sass/_max-width-1199.scss */
  #lname {
    width: 98%;
  }

  /* line 143, ../sass/_max-width-1199.scss */
  .gift {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 148, ../sass/_max-width-1199.scss */
  #teaser {
    font-size: 40pt;
    margin: 60px 0 0 60px;
  }

  /* line 152, ../sass/_max-width-1199.scss */
  .cafe > p, .follow > p, .copr > p, .dsign > p, .dev > p {
    color: #FFF;
    font-size: 10pt;
    text-align: left;
    padding: 0 !important;
    justify-content: left;
    -moz-text-align-last: left;
    text-align-last: left;
    line-height: 1.6em;
  }

  /* line 162, ../sass/_max-width-1199.scss */
  .cafe > h2, .follow > h2, .copr > h2, .mailing-list > h2 {
    color: #E8E8E8;
    font-size: 12pt;
    text-align: left;
    padding: 20px 0 15px 0 !important;
    justify-content: left;
    -moz-text-align-last: left;
    text-align-last: left;
  }

  /* line 171, ../sass/_max-width-1199.scss */
  .foot1 {
    grid-area: foot1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(auto, auto) minmax(auto, auto);
    grid-template-areas: "cafe follow" "copr dsign";
  }

  /* line 180, ../sass/_max-width-1199.scss */
  .foot2 {
    grid-area: foot2;
    display: grid;
    justify-self: start;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, auto) minmax(auto, auto);
    grid-template-areas: "mailing-list" "dev";
  }

  /* line 190, ../sass/_max-width-1199.scss */
  .cafe {
    grid-area: cafe;
    padding: 20px 0 20px 20px;
    width: 200px;
  }

  /* line 195, ../sass/_max-width-1199.scss */
  .follow {
    grid-area: follow;
    padding: 20px 0 20px 20px;
    width: 200px;
  }

  /* line 200, ../sass/_max-width-1199.scss */
  .copr {
    grid-area: copr;
    padding: 20px 0 20px 20px;
    width: 200px;
  }

  /* line 205, ../sass/_max-width-1199.scss */
  .dsign {
    grid-area: dsign;
    padding: 20px 0 20px 20px;
    width: 200px;
  }

  /* line 210, ../sass/_max-width-1199.scss */
  .mailing-list {
    grid-area: mailing-list;
    height: 162px;
  }

  /* line 214, ../sass/_max-width-1199.scss */
  .dev {
    grid-area: dev;
    padding-top: 20px;
    align-self: baseline;
  }

  /* line 219, ../sass/_max-width-1199.scss */
  .footer {
    grid-template-areas: "foot1 foot2";
  }
}
@media screen and (max-width: 640px) {
  /* line 4, ../sass/_max-width-640.scss */
  p {
    padding-left: 15%;
    padding-right: 15%;
  }

  /* line 8, ../sass/_max-width-640.scss */
  .header__nav {
    font-size: 14px;
    height: 60px;
  }

  /* line 13, ../sass/_max-width-640.scss */
  .social__content__social img {
    max-width: 80%;
  }
  /* line 16, ../sass/_max-width-640.scss */
  .social__content__social #facebook {
    padding-right: 20px;
  }
  /* line 19, ../sass/_max-width-640.scss */
  .social__content__social #spotify {
    padding-right: 0px;
  }
  /* line 22, ../sass/_max-width-640.scss */
  .social__content__social #instagram {
    padding-right: 20px;
  }

  /* line 26, ../sass/_max-width-640.scss */
  #giftimg {
    width: 100vw;
    height: auto;
  }

  /* line 30, ../sass/_max-width-640.scss */
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 60px 60px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) 143px 143px 221px 600px 200px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) 311px 311px minmax(auto, auto) minmax(auto, auto) 211px 311px 60px 143px minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(260px, auto);
    grid-template-areas: "header header header" "social social social" "video  video  video " "photo1 photo1 photo1" "photo2 photo2 photo2" "photo3 photo3 photo3" "abt_hd abt_hd abt_hd" "abt_sh abt_sh abt_sh" "abt_bd abt_bd abt_bd" "abt_vd abt_vd abt_vd" "res_hd res_hd res_hd" "res_p1 res_p1 res_p1" "res_p2 res_p2 res_p2" "res_p3 res_p3 res_p3" "resbd1 resbd1 resbd1" "resbd2 resbd2 resbd2" "cntrst cntrst cntrst" "cr_bdy cr_bdy cr_bdy" "pstrst pstrst pstrst" "pr_bdy pr_bdy pr_bdy" "pr_frm pr_frm pr_frm" "prvyrs prvyrs prvyrs" "prv_bd prv_bd prv_bd" "contct contct contct" "ctctbd ctctbd ctctbd" "instag instag instag" "footer footer footer";
  }

  /* line 126, ../sass/_max-width-640.scss */
  .about__video {
    width: 100vw;
    height: 400px;
    margin: 0 auto;
  }

  /* line 131, ../sass/_max-width-640.scss */
  .about__vid__iframe {
    margin: 0;
    height: 400px;
  }

  /* line 135, ../sass/_max-width-640.scss */
  form {
    width: 100vw;
  }

  /* line 138, ../sass/_max-width-640.scss */
  .form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 143, ../sass/_max-width-640.scss */
  .gift {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 148, ../sass/_max-width-640.scss */
  .contact__body {
    grid-template-areas: "gift gift" "form form";
  }

  /* line 153, ../sass/_max-width-640.scss */
  #teaser {
    font-size: 16pt;
    margin: 40px 0 0 40px;
  }

  /* line 157, ../sass/_max-width-640.scss */
  .cafe > p, .follow > p, .copr > p, .dsign > p, .dev > p {
    color: #FFF;
    font-size: 10pt;
    text-align: left;
    padding: 0 !important;
    justify-content: left;
    -moz-text-align-last: left;
    text-align-last: left;
    line-height: 1.6em;
  }

  /* line 167, ../sass/_max-width-640.scss */
  .cafe > h2, .follow > h2, .copr > h2, .mailing-list > h2 {
    color: #E8E8E8;
    font-size: 12pt;
    text-align: left;
    padding: 20px 0 15px 0 !important;
    justify-content: left;
    -moz-text-align-last: left;
    text-align-last: left;
  }

  /* line 176, ../sass/_max-width-640.scss */
  .instagram_img {
    height: calc(100vw / 3) !important;
  }

  /* line 179, ../sass/_max-width-640.scss */
  .foot1 {
    grid-area: foot1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(auto, auto) minmax(auto, auto);
    grid-template-areas: "cafe cafe" "follow follow" "copr dsign";
  }

  /* line 189, ../sass/_max-width-640.scss */
  .foot2 {
    grid-area: foot2;
    display: grid;
    justify-self: start;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, auto) minmax(auto, auto);
    grid-template-areas: "mailing-list" "dev";
  }

  /* line 200, ../sass/_max-width-640.scss */
  .cafe {
    grid-area: cafe;
    padding: 20px 0 20px 20px;
    width: 40vw;
  }

  /* line 205, ../sass/_max-width-640.scss */
  .follow {
    grid-area: follow;
    padding: 20px 0 20px 20px;
    width: 40vw;
  }

  /* line 210, ../sass/_max-width-640.scss */
  .copr {
    grid-area: copr;
    padding: 20px 0 20px 20px;
    width: 40vw;
  }

  /* line 215, ../sass/_max-width-640.scss */
  .dsign {
    grid-area: dsign;
    padding: 20px 0 20px 20px;
    width: 40vw;
  }

  /* line 220, ../sass/_max-width-640.scss */
  .mailing-list {
    grid-area: mailing-list;
    height: 162px;
  }

  /* line 224, ../sass/_max-width-640.scss */
  .dev {
    grid-area: dev;
    padding-top: 20px;
    align-self: baseline;
  }

  /* line 229, ../sass/_max-width-640.scss */
  .footer {
    grid-template-areas: "foot1" "foot2";
  }

  /* line 234, ../sass/_max-width-640.scss */
  form {
    display: inline-block;
    margin: auto auto;
    width: 100vw;
  }

  /* line 239, ../sass/_max-width-640.scss */
  #fname {
    width: 98%;
  }

  /* line 242, ../sass/_max-width-640.scss */
  #lname {
    width: 98%;
  }
}
/* line 3, ../sass/_slick-slider.scss */
.slide {
  height: 100%;
}

/* line 7, ../sass/_slick-slider.scss */
.slick-track {
  height: 210px;
}

/* line 11, ../sass/_slick-slider.scss */
[id^="slick-slide"]:not([id^="slick-slide-control"]) {
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
  margin: 10px;
}
/* line 14, ../sass/_slick-slider.scss */
[id^="slick-slide"]:not([id^="slick-slide-control"]) > div {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  outline: none;
  height: 100%;
  max-height: 100%;
}
/* line 22, ../sass/_slick-slider.scss */
[id^="slick-slide"]:not([id^="slick-slide-control"]) > div img {
  margin: 0 auto;
  width: auto;
  max-height: 65%;
}
/* line 27, ../sass/_slick-slider.scss */
[id^="slick-slide"]:not([id^="slick-slide-control"]) > div #text-flex {
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 35, ../sass/_slick-slider.scss */
#img-flex {
  margin-top: 20px;
}

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 8, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 19, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 30, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 42, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 53, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 64, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 76, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 87, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 98, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  /* line 110, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  /* line 121, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  /* line 132, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  /* line 144, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  /* line 156, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  /* line 167, ../sass/_iphone.scss */
  .grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel XL ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- HTC One ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Windows Phone ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* line 21, ../sass/screen.scss */
.logo {
  position: absolute;
  left: 50%;
  transform: translate(-92.5px, 54px);
}

/******* Grid Areas *******/
/* line 29, ../sass/screen.scss */
.header {
  grid-area: header;
}

/* line 33, ../sass/screen.scss */
.social {
  grid-area: social;
  background: #F3F2F2;
}

/* line 38, ../sass/screen.scss */
.social__content {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  white-space: nowrap;
  justify-content: space-between;
}

/* line 47, ../sass/screen.scss */
.social__content__address {
  display: flex;
  flex-wrap: nowrap;
  justify-items: start;
  justify-self: start;
  font-size: 11pt;
  color: #0A2845;
  font-weight: 200;
  line-height: 1.5em;
  padding-top: 8px;
  padding-left: 5%;
}

/* line 59, ../sass/screen.scss */
.social__content__social {
  display: flex;
  flex-wrap: nowrap;
  justify-items: end;
  justify-self: end;
  padding-right: 5%;
}

/* line 67, ../sass/screen.scss */
.header__video {
  grid-area: video;
  right: 0;
  bottom: 0;
  min-width: 180px;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -100;
}

/* line 78, ../sass/screen.scss */
.photo1, .photo2, .photo3 {
  margin-top: -6px;
  min-height: 180px;
}
/* line 81, ../sass/screen.scss */
.photo1 img, .photo2 img, .photo3 img {
  object-fit: cover;
  width: 100%;
  max-height: 330px;
}

/* line 88, ../sass/screen.scss */
.photo1 {
  grid-area: photo1;
}

/* line 92, ../sass/screen.scss */
.photo2 {
  grid-area: photo2;
}

/* line 96, ../sass/screen.scss */
.photo3 {
  grid-area: photo3;
}

/* line 100, ../sass/screen.scss */
.about__header {
  grid-area: abt_hd;
  align-self: center;
}

/* line 105, ../sass/screen.scss */
.about__subheader {
  grid-area: abt_sh;
  background: #F3F2F2;
  padding-top: 62px;
  padding-bottom: 62px;
}

/* line 112, ../sass/screen.scss */
.about__body {
  grid-area: abt_bd;
  background-image: url("/assets/media/photos/stone.png");
}

/* line 117, ../sass/screen.scss */
.about__video {
  grid-area: abt_vd;
}

/* line 122, ../sass/screen.scss */
.resident__header {
  grid-area: res_hd;
  align-self: center;
  text-align: center;
}

/* line 128, ../sass/screen.scss */
.resident__photo1, .resident__photo2, .resident__photo3 {
  margin-top: -6px;
  min-height: 180px;
}
/* line 131, ../sass/screen.scss */
.resident__photo1 img, .resident__photo2 img, .resident__photo3 img {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}

/* line 138, ../sass/screen.scss */
.resident__photo1 {
  grid-area: res_p1;
}

/* line 142, ../sass/screen.scss */
.resident__photo2 {
  grid-area: res_p2;
}

/* line 146, ../sass/screen.scss */
.resident__photo3 {
  grid-area: res_p3;
}

/* line 150, ../sass/screen.scss */
.resident__body1 {
  grid-area: resbd1;
  align-self: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

/* line 158, ../sass/screen.scss */
.resident__body2 {
  grid-area: resbd2;
  background-image: url("/assets/media/photos/stone.png");
}

/* line 163, ../sass/screen.scss */
.current__header {
  grid-area: cntrst;
  margin-bottom: 99px;
}

/* line 168, ../sass/screen.scss */
.current__ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 160px;
  padding-left: 5%;
}

@media screen and (min-width: 1200px) {
  /* line 177, ../sass/screen.scss */
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
    grid-template-areas: "left left top top top" "left left mid mid mid" "left left btm btm btm";
  }
}
@media screen and (max-width: 1199px) {
  /* line 195, ../sass/screen.scss */
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
    grid-template-areas: "left left left left left" ".    top top top top" ".    mid mid mid mid" ".    btm btm btm btm";
  }

  /* line 211, ../sass/screen.scss */
  #current__highlight {
    justify-self: center;
  }
}
@media screen and (max-width: 640px) {
  /* line 217, ../sass/screen.scss */
  .current__body {
    grid-area: cr_bdy;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
    grid-template-areas: "left left left left left" "top top top top top" "mid mid mid mid mid" "btm btm btm btm btm";
  }
}
/* line 235, ../sass/screen.scss */
.nested_left {
  grid-area: left;
  align-self: center;
}

/* line 240, ../sass/screen.scss */
.nested_top {
  grid-area: top;
  display: inline-block;
}

/* line 245, ../sass/screen.scss */
.nested_mid {
  grid-area: mid;
  display: inline-block;
}

/* line 250, ../sass/screen.scss */
.nested_bottem {
  grid-area: btm;
  display: inline-block;
}

/* line 255, ../sass/screen.scss */
.past__header {
  grid-area: pstrst;
}

/* line 259, ../sass/screen.scss */
.past__body {
  grid-area: pr_bdy;
  font-size: 12pt;
  color: #000;
  line-height: 1.5em;
  border-color: #ccc;
  width: 75vw;
  margin: 0 auto;
}

/* line 269, ../sass/screen.scss */
.past__form {
  grid-area: pr_frm;
}

/* line 273, ../sass/screen.scss */
.purveyors__header {
  grid-area: prvyrs;
  margin-top: 2.5em;
}

/* line 278, ../sass/screen.scss */
.purveyors__body {
  grid-area: prv_bd;
  display: grid;
  grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
  grid-template-rows: 210px 210px 210px 210px;
  grid-gap: 2em;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
/* line 287, ../sass/screen.scss */
.purveyors__body > div {
  box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* line 295, ../sass/screen.scss */
.one {
  grid-area: one;
}

/* line 299, ../sass/screen.scss */
.two {
  grid-area: two;
}

/* line 303, ../sass/screen.scss */
.three {
  grid-area: three;
}

/* line 307, ../sass/screen.scss */
.four {
  grid-area: four;
}

/* line 311, ../sass/screen.scss */
.five {
  grid-area: five;
}

/* line 315, ../sass/screen.scss */
.six {
  grid-area: six;
}

/* line 319, ../sass/screen.scss */
.seven {
  grid-area: seven;
}

@media screen and (min-width: 1200px) {
  /* line 324, ../sass/screen.scss */
  .purveyors__body {
    grid-template-areas: "one one three three" "two two three three" "four four five five" "four four six seven";
  }
}
@media screen and (max-width: 1199px) {
  /* line 334, ../sass/screen.scss */
  .purveyors__body {
    grid-template-areas: ". one one     ." ". two two     ." ". three three ." ". three three ." ". four four   ." ". four four   ." ". five five   ." ". six seven   .";
  }
}
@media screen and (max-width: 640px) {
  /* line 348, ../sass/screen.scss */
  .purveyors__body {
    grid-template-areas: ". one one     ." ". two two     ." ". three three ." ". three three ." ". four four   ." ". four four   ." ". five five   ." ". six seven   .";
  }
}
/* line 361, ../sass/screen.scss */
.contact__header {
  grid-area: contct;
}

/* line 365, ../sass/screen.scss */
.contact__body {
  grid-area: ctctbd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto, auto);
  padding-top: 3rem;
  padding-bottom: 3rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

/* line 375, ../sass/screen.scss */
.form {
  grid-area: form;
}

/* line 378, ../sass/screen.scss */
.gift {
  grid-area: gift;
}

/* line 381, ../sass/screen.scss */
.instagram_feed {
  grid-area: instag;
  display: grid;
  width: 100vw;
  grid-template-columns: calc(100vw / 3) calc(100vw / 3) calc(100vw / 3);
  grid-auto-flow: dense;
  overflow: hidden;
}

/* line 389, ../sass/screen.scss */
.instagram_img {
  object-fit: cover;
  margin: -4px 0 -4px 0;
  height: calc(100vw / 4);
  width: calc(100vw / 3);
}

/* line 395, ../sass/screen.scss */
.footer {
  grid-area: footer;
  display: grid;
  grid-column-gap: 2rem;
  padding: 0 !important;
  background-color: #2B4257;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto, auto);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 409, ../sass/screen.scss */
#mailing-list-form {
  display: flex;
  flex-wrap: nowrap;
}

/* line 413, ../sass/screen.scss */
#mailing-list-form-input {
  height: 54px;
  width: 20vw;
  border-width: 1px;
  border-color: black;
}

/* line 419, ../sass/screen.scss */
#mailing-list-form-submit {
  border-width: 2px;
  border-color: black;
  background-color: orange;
  color: white;
  text-align: center;
  font-size: 14pt;
  border-radius: 54px;
  height: 54px;
  width: 12vw;
  font-weight: 100;
  margin-top: -2px;
  margin-left: -30px;
}
